
/*grid styling*/
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
/*.col:first-child { margin-left: 0; }*/


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}
                                               
					
/*  GRID OF EIGHT  */
.span_8_of_8 {
	width: 100%;
}

.span_7_of_8 {
  	width: 87.3%;
}

.span_6_of_8 {
  	width: 74.6%;
}

.span_5_of_8 {
  	width: 61.9%;
}

.span_4_of_8 {
  	width: 49.2%;
}

.span_3_of_8 {
  	width: 36.5%;
}

.span_2_of_8 {
  	width: 23.8%;
}

.span_1_of_8 {
  	width: 11.1%;
}

.one-offset {
  margin-left: 12.7%;
}

.two-offset {
  margin-left: 25.4%;
}

.three-offset {
  margin-left: 38.1%;
}

.four-offset {
  margin-left: 50.8%;
}

.five-offset {
  margin-left: 63.5%;
}

.six-offset {
  margin-left: 76.2%;
}

.seven-offset {
  margin-left: 88.9%;
}



/* end of grid styling */

html, body, .section {
	height: 100%;
}

body {
	background: url('../images/GrxcU65.png');
}

/*.section {
	height: 100%;
} */
.main {
	background-color: #F3F5D6;
	min-height: 100%;
	border-left: 10px solid #02004A;
	border-right: 10px solid #02004A;
	margin-top: 0;
	margin-bottom: 0;
}
.main > header {
	text-align: center;
	padding: 20px;
}
.main > header > h1 {
	font-family: 'Lobster', cursive;
	font-size: 70px;
	letter-spacing: .03em;
	color: #02004A;
	margin-bottom: 30px;
	text-shadow: 1px 2px 2px gray;
}
.main > header > h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #A26C20;
	margin-bottom: 30px;
	font-variant: small-caps;
	font-size: 20px;
}
.button-container {
	width: 90%;
	height: 40px;
	margin: 0 auto;
	max-width: 205px;
	text-align: center;
	margin-bottom: 	10px;
}
.clear-button {
	background-color: #a5c04f;
	text-decoration: none;
	border-radius: 25px 3px;
	font-size: 25px;
	padding: 7px;
	font-family: 'Lobster', cursive;
	letter-spacing: .03em;
	display: inline-block;
}
.clear-button > a {
	text-decoration: none;
	color: white;
}
.clear-button, .add-button, .show, .show-options, .add-form {
	box-shadow: 2px 2px 4px gray;
}
.clear-button:hover, .add-button:hover, .show:hover {
	box-shadow: 4px 4px 4px gray;
}
.add-item-container > a {
	font-size: 25px;
	border-radius: 3px 17px;
	background-color: #A5C04F;
	color: white;
	padding: 7px 12px;
	display: inline-block;
	text-decoration: none;
}
.add-form {
	background-color: #A5C04F;
	padding: 13px;
	border-radius: 5px 5px 5px 5px;
	margin-top: 4px;
	line-height: 155%;
	position: absolute;
	text-align: left;
	color: white;
	font-family: 'Open Sans', sans-serif;
	display: none;
}
.add-form h3 {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 	5px;
}
.add-item-button {
	padding: 5px 10px;
	border-radius: 	6px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	margin-top: 25px;
	font-size: 	20px;
	line-height: 100%;
	color: 	white;
	font-weight: bold;
	border: 2px solid white;
	font-family: 'Lobster', cursive;
	letter-spacing: .03em;
}

.add-item-button:hover {
	background-color: #A26C20;
}
.list-box {
	width: 90%;
	min-height: 600px;
	/*border: 5px solid #02004a;*/
	background-color: #CFD1B7;
	border-radius: 10px;
	margin: 0 auto;
	max-width: 400px;
	margin-bottom: 30px;
	padding-top: 9px;
	padding-bottom: 9px;
}
.dropdown {
	display: inline-block;
	margin-right: 6px;
}
.show {
	background-color: #a5c04f;
	color: white;
	text-decoration: none;
	border-radius: 3px 25px;
	font-size: 25px;
	padding: 7px;
	font-family: 'Lobster', cursive;
	letter-spacing: .03em;
	display: inline-block;
}
.show-options {
	display: none;
	position: absolute;
	background-color: #a5c04f;
	border-radius: 5px 5px 5px 5px;
	margin-top: 4px;
	margin-left: -54px;
	padding: 13px;
	line-height: 135%;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	line-height: 155%;
}
.show-options a {
	text-decoration: none;
	color: white;
}
.dropdown > ul a:hover {
	color: #A26C20;
}
.add-item-container {
	display: inline-block;
	margin-right: 6px;
}
.add-button {
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}
.add-form > .text-entry {
	margin-bottom: 19px;
}
.checked {
	background-color: #656659;
}
.shopping-list > li {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	border-bottom: 1px dotted;
	padding-top: 3px;
	padding-bottom: 2px;
	color: #02004A;
}
.shopping-list > li:first-child {
	border-top: 1px dotted;
}
.shopping-list input[type=checkbox] {
	margin-left: 15px;
	margin-right: 9px;
	width: 18px;
	height: 18px;
	vertical-align: middle;
	margin-bottom: 2px;
	margin-top: 0;
}
.shopping-list i {
	margin-right: 26px;
	color: #A30300;
	vertical-align: middle;
	margin-bottom: 1px;
}
.fa-close:hover {
	cursor: pointer;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 950px) {
	.main {
		width: 61.9%;
		margin-left: 19%;
	}
}

@media only screen and (max-width: 640px) {
	.main {
		width: 74.6%;
		margin-left: 12.7%;
	}
	.main > header > h1 {
		font-size: 60px;
	}
	.main > header > h2 {
		font-size: 18px;
	}
	.add-item-container > a, .clear-button, .show {
		font-size: 23px;
}

@media only screen and (max-width: 480px) {
	.col { 
		margin: 5% 0 5% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_8_of_8 {
		width: 100%; 
	}
	.span_7_of_8 {
		width: 100%; 
	}
	.span_6_of_8 {
		width: 100%; 
	}
	.span_5_of_8 {
		width: 100%; 
	}
	.span_4_of_8 {
		width: 100%; 
	}
	.span_3_of_8 {
		width: 100%; 
	}
	.span_2_of_8 {
		width: 100%; 
	}
	.span_1_of_8 {
		width: 100%;
	}
	.main {
		border-left: 0;
		border-right: 0;
	}
}

@media only screen and (max-width: 380px) {
	.main > header > h1 {
		font-size: 56px;
		margin-bottom: 26px;
	}
	.main > header > h2 {
		font-size: 16px;
		margin-bottom: 22px;
	}
	.add-form {
		margin-left: -30px;
	}
	/*.add-form {
		width: 148px;
	}
	.add-form h3 {
		font-size: 16px;
		margin-bottom: 	4px;
	}
	.add-form > .text-entry {
		margin-bottom: 12px;
		font-size: 12px;
	}
	.add-form ul {
		font-size: 15px;
	}
	.add-item-button {
		font-size: 18px;
		margin-top: 15px;
	}*/
}